.advantages-section {
    padding: 50px 0;
    /* text-align: left; */
  }
  
  .advantages-container {
    display: flex;
    align-items: center;
    margin-left: 200px;
  }
  
  .advantages-text {
    max-width: 600px;
  }
  
  h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .advantages-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .advantages-image img {
    max-width: 600px;
    width: 200%;
    height: auto;

  }
